* text=auto
/mythical.js binary
/mythical.min.js binary
/mythical.js.map binary
/mythical.min.js.map binary
/package-lock.json binary
/yarn.lock binary

# Assets
*.png binary
*.svg binary
*.ico binary
